body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
}

#auth-container {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
